<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Customer-paging</title>
</head>
<body>
    <div class="container" style="width: 100%; height: 100%;">
        <h1 style="justify-content: center; width: 100%; text-align: center">Customer paging</h1>
        <a th:href="@{/customers/addPage}">Add New Customer</a>
        <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name" th:text="${name}"></span> |
                Roles: <span sec:authentication="principal.authorities" ></span> |

                <a th:href="@{/logout}">Sign Out</a>
        </span>
        <p sec:authorize="hasRole('ADMIN')">ADMIN</p>
        <p sec:authorize="hasRole('USER')">USER</p>
        <p sec:authorize="hasRole('CUSTOMER')">CUSTOMER</p>
        <div class="table-content" style="width: 100%; justify-content: center; align-items: center;">
            <table class="table table-sm" style="justify-content: center; align-items: center; align-content: center;">
                <thead>
                    <tr style="color: #0b5ed7">
                        <th class="customer_id">ID</th>
                        <th class="customer_name">Name</th>
                        <th class="customer_email">email</th>
                        <th class="customer_phone">Phone</th>
                        <th class="customer_address">Address</th>
                        <th class="customer_action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer, iStat: ${customersPage.content}">
                        <td class="customer_id" th:text="${customer.id}"></td>
                        <td class="customer_name" th:text="${customer.name}"></td>
                        <td class="customer_email" th:text="${customer.email}"></td>
                        <td class="customer_phone" th:text="${customer.phone}"></td>
                        <td class="customer_address" th:text="${customer.address}"></td>
                        <td class="customer_action">
                            <a th:href="@{/customers/updatePage/{id} (id=${customer.id})}">Update</a>
                            <a th:href="@{/customers/delete/{id} (id=${customer.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>