<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org.extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>order-detail-paging</title>
    <meta name="viewport" content="width-device, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/favicon.png}">

    <meta name="description" content=""/>
    <meta name="keywords" content="bootstrap, bootstrap4"/>
<!--    Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/tiny-slider.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title> Order Detail paging</title>
</head>
<body>
    <nav class="custom-navbar navbar navbar navbar-expand">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">Furni <span>.</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    data-bs-target="#navbarsFurni">
                <span class="navbar-toggler-icon">.</span>
            </button>
            <div class="collapse navbar-collapse"  id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active" >
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/shop}">Shop</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/about}">About us</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/services}">Services</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/blog}">Blog</a>
                    </li>
                    <li><a class="nav-link" th:href="@{/orders}">Orders</a></li>
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/Contact}">Contact us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container-center before-footer-section">
        <div class="row" style="justify-content: center">
            <a class="col-sm-5" th:href="@{/orders}" style="justify-content: center; color: green;"> Back</a>
            <h2 class="col-sm-5" style="justify-content: center; color: green;"> ORDER DETAIL</h2>
        </div>
        <div class="container">
            <div class="row mb-5" style="{background-color: green}">
                <form method="post" action="#" >
                    <div class="content-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-image">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="orderDetail, iStat: ${order.getOrderDetails()}">
                                    <td class="product-image">
                                        <img th:src="@{/images/product-1.png}" alt="Image" class="img-fluid" style="width: 150px; height: 150px;">
                                    </td>
                                    <td class="product-name">
                                        <h5 class="h5 text-black" th:text="${orderDetail.getProduct().getName()}"></h5>
                                    </td>
                                    <td class="product-price">
                                        <h5 class="h5 text-black" th:text="${orderDetail.getProduct().getProductPrices().get(0).getPrice()}"></h5>
                                    </td>
                                    <td class="product-quantity">
                                        <h5 class="h5 text-black" th:text="${orderDetail.getQuantity()}"></h5>
                                    </td>
                                    <td class="product-total">
                                        <h5 class="h5 text-black" th:text="${orderDetail.getPrice()}"></h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>