<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/tiny-slider.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Header</title>
</head>
<body>
<!-- Start Header/Navigation -->
<nav th:fragment="navigation" class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li><a class="nav-link" th:href="@{/shop}">Shop</a></li>
                <li><a class="nav-link" th:href="@{/about}">About us</a></li>
                <li><a class="nav-link" th:href="@{/services}">Services</a></li>
                <li><a class="nav-link" th:href="@{/blog}">Blog</a></li>
                <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" th:href="@{http://www.thymeleaf/documentation.html}"><img th:src="@{/images/user.svg}"></a></li>
                <li>
                    <a class="nav-link" th:href="@{/cart}"><img th:src="@{/images/cart.svg}">
                        <h4><span th:text="${session.shoppingCart.getItemCount()}"></span></h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/tiny-slider.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</body>
</html>