<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: NguyenTienDat
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="NguyenTienDat">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link th:href="@{/css/tiny-slider.css}" rel="stylesheet">
		<link th:href="@{/css/style.css}" rel="stylesheet">
		<title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by NguyenTienDat </title>
	</head>

	<body>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Furni<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/home}">Home</a>
					</li>
					<li><a class="nav-link" th:href="@{/shop}">Shop</a></li>
					<li><a class="nav-link" th:href="@{/about}">About us</a></li>
					<li><a class="nav-link" th:href="@{/services}">Services</a></li>
					<li><a class="nav-link" th:href="@{/blog}">Blog</a></li>
					<li><a class="nav-link" th:href="@{/orders}">Orders</a></li>
					<li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" th:href="@{https://gitlab.com/Ronenvn312}"><img th:src="@{/images/user.svg}"></a></li>
					<li>
						<a class="nav-link" th:href="@{/cart}"><img th:src="@{/images/cart.svg}">
							<h4><span th:text="${session.shoppingCart.getItemCount()}"></span></h4>
						</a>
					</li>
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Blog</h1>
								<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
								<p><a th:href="@{https://gitlab.com/Ronenvn312}" class="btn btn-secondary me-2">Shop Now</a><a th:href="@{https://gitlab.com/Ronenvn312}" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img th:src="@{/images/couch.png}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				
				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-1.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">First Time Home Owner Ideas</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Kristin Watson</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 19, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-2.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">How To Keep Your Furniture Clean</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Robert Fox</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 15, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-3.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">Small Space Furniture Apartment Ideas</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Kristin Watson</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 12, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-1.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">First Time Home Owner Ideas</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Kristin Watson</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 19, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-2.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">How To Keep Your Furniture Clean</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Robert Fox</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 15, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-3.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">Small Space Furniture Apartment Ideas</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Kristin Watson</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 12, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-1.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">First Time Home Owner Ideas</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Kristin Watson</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 19, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-2.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">How To Keep Your Furniture Clean</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Robert Fox</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 15, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a th:href="@{https://gitlab.com/Ronenvn312}" class="post-thumbnail"><img th:src="@{/images/post-3.jpg}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a th:href="@{https://gitlab.com/Ronenvn312}">Small Space Furniture Apartment Ideas</a></h3>
								<div class="meta">
									<span>by <a th:href="@{https://gitlab.com/Ronenvn312}">Kristin Watson</a></span> <span>on <a th:href="@{https://gitlab.com/Ronenvn312}">Dec 12, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Blog Section -->	

		

		<!-- Start Testimonial Slider -->
		<div class="testimonial-section before-footer-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Testimonials</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								
								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img th:src="@{/images/person-1.png}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img th:src="@{/images/person-1.png}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img th:src="@{/images/person-1.png}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Testimonial Slider -->

		

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="sofa-img">
					<img th:src="@{/images/sofa.png}" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img th:src="@{/images/envelope-outline.svg}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a th:href="@{https://gitlab.com/Ronenvn312}" class="footer-logo">Furni<span>.</span></a></div>
						<p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

						<ul class="list-unstyled custom-social">
							<li><a th:href="@{https://gitlab.com/Ronenvn312}"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a th:href="@{https://gitlab.com/Ronenvn312}"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a th:href="@{https://gitlab.com/Ronenvn312}"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a th:href="@{https://gitlab.com/Ronenvn312}"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">About us</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Services</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Blog</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Support</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Knowledge base</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Live chat</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Jobs</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Our team</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Leadership</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Nordic Chair</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Kruzo Aero</a></li>
									<li><a th:href="@{https://gitlab.com/Ronenvn312}">Ergonomic Chair</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">NguyenTienDat</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a th:href="@{https://gitlab.com/Ronenvn312}">Terms &amp; Conditions</a></li>
								<li><a th:href="@{https://gitlab.com/Ronenvn312}">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->


		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/tiny-slider.js}"></script>
		<script th:src="@{/js/custom.js}"></script>
	</body>

</html>
