<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="NguyenTienDat">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/tiny-slider.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title> Design Websites by NguyenTienDat </title>
</head>
<body>

<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li><a class="nav-link" th:href="@{/shop}">Shop</a></li>
                <li><a class="nav-link" th:href="@{/about}">About us</a></li>
                <li><a class="nav-link" th:href="@{/services}">Services</a></li>
                <li><a class="nav-link" th:href="@{/blog}">Blog</a></li>
                <li><a class="nav-link" th:href="@{/orders}">Orders</a></li>
                <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" th:href="@{https://gitlab.com/Ronenvn312}"><img th:src="@{/images/user.svg}"></a></li>
                <li>
                    <a class="nav-link" th:href="@{/cart}"><img th:src="@{/images/cart.svg}">
<!--                        <h4><span th:text="${session.shoppingCart.getItemCount()}"></span></h4>-->
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->


<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Orders</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->



<div class="untree_co-section before-footer-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Order Id</th>
                            <th class="product-price">Order date </th>
                            <th class="product-quantity">Cust ID</th>
                            <th class="product-total">Employee Id</th>
                            <th class="product-remove">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order, iStat: ${orderPage.getContent()}">
                            <td class="product-thumbnail">
                                <img th:src="@{/images/product-1.png}" alt="Image" class="img-fluid">
                            </td>
                            <td class="product-name">
                                <h2 class="h5 text-black" th:text="${order.order_id}"></h2>
                            </td>
                            <td th:text="${order.orderDate}"></td>
                            <td th:text="${order.customer.id}"></td>
                            <td th:text="${order.employee.id}"></td>
                            <td>
                                <form action="#" th:action="@{/order-details/order}" method="post">
                                    <input type="hidden" th:value="${order.order_id}" name="id">
                                    <button type="submit" >Order details</button>
                                </form>
                               </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-black btn-sm btn-block">Update Cart</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">

        <div class="sofa-img">
            <img th:src="@{/images/sofa.png}" alt="Image" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center"><span class="me-1"><img th:src="@{/images/envelope-outline.svg}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a th:href="@{https://gitlab.com/Ronenvn312}" class="footer-logo">Furni<span>.</span></a></div>
                <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

                <ul class="list-unstyled custom-social">
                    <li><a th:href="@{https://gitlab.com/Ronenvn312}"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a th:href="@{https://gitlab.com/Ronenvn312}"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a th:href="@{https://gitlab.com/Ronenvn312}"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a th:href="@{https://gitlab.com/Ronenvn312}"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">About us</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Services</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Blog</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Support</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Knowledge base</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Live chat</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Jobs</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Our team</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Leadership</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Nordic Chair</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Kruzo Aero</a></li>
                            <li><a th:href="@{https://gitlab.com/Ronenvn312}">Ergonomic Chair</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a th:href="@{https://untree.co}">NguyenTienDat</a> Distributed By <a th:href="@{https://themewagon.com}">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
                    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a th:href="@{https://gitlab.com/Ronenvn312}">Terms &amp; Conditions</a></li>
                        <li><a th:href="@{https://gitlab.com/Ronenvn312}">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>
<!-- End Footer Section -->


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>