<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product-Paging</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        div.inline {
            justify-content: center;
            color: black;
            float: none;
            padding: 5px 5px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1 class="text-center">LIST PRODUCT</h1>
    <h1 class="text-center">
        <a th:href="@{/products/add-product-form}">ADD NEW PRODUCT</a>
    </h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
<!--                <th>STT</th>-->
                <th>Product Id</th>
                <th>Product manufacturer</th>
                <th>Product description</th>
                <th>Product name</th>
                <th>Product status</th>
                <th>Product unit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product, iStat: ${productPage.content}">
                <td th:text="${product.product_id}"></td>
                <td th:text="${product.manufacturer}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.status}"></td>
                <td th:text="${product.unit}"></td>
                <td><a th:href="@{/products/update-product-form/{id}(id=${product.product_id})}">Edit</a></td>
                <td><a th:href="@{/products/delete/{id}(id=${product.product_id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div class="inline" th:if="${productPage.totalPages > 0}" th:each="pageNumber: ${pageNumbers}">
        <a style="{width: 20px;}" th:href="@{/products/paging(size=${productPage.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==productPage.number +1} ? active"></a>
    </div>
</body>
</html>